<a href="https://colab.research.google.com/github/solomontessema/ai.ionnova/blob/master/ION101_Assginment_2_Basic_SQL_commands_and_syntax.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src="https://ionnova.com/img/ionnova_banner.png" alt="IONNOVA"/>

**Name:** Your Name Here

**Date:** Today's Date

**The following code installs and loads SQLite. You don't need to worry about understanding it right now - just run it to set up everything needed for your homework.**

In [ ]:
# Install SQL magic (if needed)
!pip install ipython-sql

import pandas as pd
import sqlite3
import prettytable as pt
pt.prettytable.DEFAULT = pt.PLAIN_COLUMNS

# Load SQL magic extension
%load_ext sql

# Load dataset
url = "https://ionnova.com/superstore.csv"
df = pd.read_csv(url, encoding="latin1")

# Clean column names: remove spaces and convert to lowercase_with_underscores
df.columns = df.columns.str.strip().str.replace(' ', '_').str.replace('-', '_').str.lower()

# Save database as a file (instead of in-memory)
conn = sqlite3.connect("superstore.db")  # Ensures persistence
df.to_sql("superstore", conn, index=False, if_exists="replace")

# Use persistent SQLite file for SQL magic
%sql sqlite:///superstore.db

# Optional: Set prettytable output format for %sql queries
import sql
sql.run.prettytable.__dict__["DEFAULT"] = sql.run.prettytable.PLAIN_COLUMNS

**First, let's take a look at the data by limiting it to five rows.**

In [ ]:
%%sql
SELECT *
FROM superstore
LIMIT 5;

**Select customer_name and sales columns, limit your result to 5 rows.**

In [ ]:
%%sql
'Your code here'

**Select customer_name as client, and sales as revenue.**

In [ ]:
%%sql
'Your code here';

**Select customer_name as client, and sales as revenue. Sort them in ascending order by client**

```
# This is formatted as code
```

In [ ]:
%%sql
'Your code here'

**Select customer_name as client, and sales as revenue. Show only the ones from 'Africa' Sort them in ascending order by client**

In [ ]:
%%sql
'Your code here'

** Display the total sum of the sale for each country (group by). Display country and sales **

In [ ]:
%%sql
'Your code here';