<a href="https://colab.research.google.com/github/solomontessema/ai.ionnova/blob/master/ION101_Assginment_2_Basic_SQL_commands_and_syntax.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src="https://ionnova.com/img/ionnova_banner.png" alt="IONNOVA"/>

**Name:** Your Name Here

**Date:** Today's Date

**The following code installs and loads SQLite. You don't need to worry about understanding it right now - just run it to set up everything needed for your homework.**

In [3]:
# Install SQL magic (if needed)
!pip install ipython-sql

import pandas as pd
import sqlite3
import prettytable as pt
pt.prettytable.DEFAULT = pt.PLAIN_COLUMNS

# Load SQL magic extension
%load_ext sql

# Load dataset
url = "https://ionnova.com/superstore.csv"
df = pd.read_csv(url, encoding="latin1")

# Clean column names: remove spaces and convert to lowercase_with_underscores
df.columns = df.columns.str.strip().str.replace(' ', '_').str.replace('-', '_').str.lower()

# Save database as a file (instead of in-memory)
conn = sqlite3.connect("superstore.db")  # Ensures persistence
df.to_sql("superstore", conn, index=False, if_exists="replace")

# Use persistent SQLite file for SQL magic
%sql sqlite:///superstore.db

# Optional: Set prettytable output format for %sql queries
import sql
sql.run.prettytable.__dict__["DEFAULT"] = sql.run.prettytable.PLAIN_COLUMNS

Requirement already satisfied: ipython-sql in /usr/local/lib/python3.11/dist-packages (0.5.0)
Requirement already satisfied: prettytable in /usr/local/lib/python3.11/dist-packages (from ipython-sql) (3.16.0)
Requirement already satisfied: ipython in /usr/local/lib/python3.11/dist-packages (from ipython-sql) (7.34.0)
Requirement already satisfied: sqlalchemy>=2.0 in /usr/local/lib/python3.11/dist-packages (from ipython-sql) (2.0.41)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.11/dist-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in /usr/local/lib/python3.11/dist-packages (from ipython-sql) (1.17.0)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.11/dist-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: greenlet>=1 in /usr/local/lib/python3.11/dist-packages (from sqlalchemy>=2.0->ipython-sql) (3.2.2)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.11/dist-packages (from sqlalchemy>=2.0->ipython-sql) (4.14.0)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (75.2.0)
Requirement already satisfied: jedi>=0.16 in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: decorator in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (3.0.51)
Requirement already satisfied: pygments in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (2.19.1)
Requirement already satisfied: backcall in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.11/dist-packages (from prettytable->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /usr/local/lib/python3.11/dist-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.11/dist-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
The sql extension is already loaded. To reload it, use:
  %reload_ext sql

**First, let's take a look at the data by limiting it to five rows.**

In [4]:
%%sql
SELECT *
FROM superstore
LIMIT 5;

 * sqlite:///superstore.db
Done.

[(32298, 'CA-2012-124891', '31-07-2012', '31-07-2012', 'Same Day', 'RH-19495', 'Rick Hansen', 'Consumer', 'New York City', 'New York', 'United States', 10024.0, 'US', 'East', 'TEC-AC-10003033', 'Technology', 'Accessories', 'Plantronics CS510 - Over-the-Head monaural Wireless Headset System', 2309.65, 7, 0.0, 762.1845, 933.57, 'Critical'),
 (26341, 'IN-2013-77878', '05-02-2013', '07-02-2013', 'Second Class', 'JR-16210', 'Justin Ritter', 'Corporate', 'Wollongong', 'New South Wales', 'Australia', None, 'APAC', 'Oceania', 'FUR-CH-10003950', 'Furniture', 'Chairs', 'Novimex Executive Leather Armchair, Black', 3709.395, 9, 0.1, -288.765, 923.63, 'Critical'),
 (25330, 'IN-2013-71249', '17-10-2013', '18-10-2013', 'First Class', 'CR-12730', 'Craig Reiter', 'Consumer', 'Brisbane', 'Queensland', 'Australia', None, 'APAC', 'Oceania', 'TEC-PH-10004664', 'Technology', 'Phones', 'Nokia Smart Phone, with Caller ID', 5175.171, 9, 0.1, 919.971, 915.49, 'Medium'),
 (13524, 'ES-2013-1579342', '28-01-2013', '30-01-2013', 'First Class', 'KM-16375', 'Katherine Murray', 'Home Office', 'Berlin', 'Berlin', 'Germany', None, 'EU', 'Central', 'TEC-PH-10004583', 'Technology', 'Phones', 'Motorola Smart Phone, Cordless', 2892.51, 5, 0.1, -96.54, 910.16, 'Medium'),
 (47221, 'SG-2013-4320', '05-11-2013', '06-11-2013', 'Same Day', 'RH-9495', 'Rick Hansen', 'Consumer', 'Dakar', 'Dakar', 'Senegal', None, 'Africa', 'Africa', 'TEC-SHA-10000501', 'Technology', 'Copiers', 'Sharp Wireless Fax, High-Speed', 2832.96, 8, 0.0, 311.52, 903.04, 'Critical')]

**Select customer_name and sales columns, limit your result to 5 rows.**

In [5]:
%%sql
SELECT customer_name, sales
FROM superstore
LIMIT 5;

 * sqlite:///superstore.db
Done.

[('Rick Hansen', 2309.65),
 ('Justin Ritter', 3709.395),
 ('Craig Reiter', 5175.171),
 ('Katherine Murray', 2892.51),
 ('Rick Hansen', 2832.96)]

**Now Query only three columns—City, State, and Country—and limit the results to 15 rows. I've started the code for you, so just complete the missing part.**

In [ ]:
%%sql
SELECT customer_name AS client, sales AS revenue FROM superstore;

**Query only three columns—City, State, where the Country is 'Australia' and limit the results to 15 rows. I've started the code for you, so just complete the missing part.**

In [ ]:
%%sql
SELECT *
FROM superstore
WHERE country = 'Your code here'
LIMIT 'Your code here'

**Now do your magic! I won’t be helping this time—give me only the columns City and Country where the Region is 'South'.**

In [ ]:
%%sql